modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 21610
externalPort = 3000

[userenv]

[userenv.shared]
ENCRYPTION_KEY = "aaa076662bcc2cca6b8632d4232a36d6527b5b3b19f84ea88c137bb75bf759c7"
EMAIL_HMAC_KEY = "833aeb0750f4f5340bf1ea4084e23885a93a2926a65551ff140cb308ede9048e"
VITE_CLERK_PUBLISHABLE_KEY = "pk_test_ZGFzaGluZy11cmNoaW4tMTIuY2xlcmsuYWNjb3VudHMuZGV2JA"

[nix]
channel = "stable-25_05"
